// Generic styles for the page sections. Defines section colors and height.

$background-1: #2196f3
$background-2: #fff
$background-3: #ffd54f

section
  width: 100vw
  height: 100vh
  padding: 10vh

  &#first
    // Height is overriden here because the top 50vh is just blank space
       through which the user scrolls during the animation.
    height: 150vh
    background-color: $background-1

  &#second
    background-color: $background-2

  &#third
    background-color: $background-3
