@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

@font-face
  font-family: PierSans
  font-style: normal
  font-weight: bold
  src: url('/pier-bold.otf')

@font-face
  font-family: PierSans
  font-style: normal
  font-weight: normal
  src: url('/pier-regular.otf')
