// Main SASS file.
   Contains colors and global styles, and imports all other SASS files




// I'm using colors from the Material Design color palette, but that doesn't
   mean I'm attempting to follow material design.
   https://material.google.com/style/color.html#color-color-palette
$background-blue: #37474f
$background-blue-darker: darken($background-blue, 5)
$background-blue-lighter: lighten($background-blue, 5)

$primary-600: #fdd835

$white: #fff


// https://material.google.com/style/color.html#color-text-background-colors
$dark-text-primary: rgba(0, 0, 0, .87)
$dark-text-secondary: rgba(0, 0, 0, .54)
$dark-text-hint: rgba(0, 0, 0, .38)
$light-text-primary: rgba(255, 255, 255, 1)
$light-text-secondary: rgba(255, 255, 255, .7)
$light-text-hint: rgba(255, 255, 255, .5)


// Helpful CSS classes
@import _helper_classes
// Styles for individual sections
@import sections/header/_main.sass
@import sections/_projects
@import sections/_contact
// Miscellaneous
@import _misc
@import _social


*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box


body
  margin: 0
  font-family: 'Open Sans', sans-serif

h1,
h2
  font-family: 'Arvo', sans-serif
  font-weight: 400
  font-size: 5vw

section
  width: 100vw

  overflow: auto

  &.full
    height: 100vh
