// Main SASS file.
   Contains colors and global styles, and imports all other SASS files




// I'm using colors from the Material Design color palette, but that doesn't
   mean I'm attempting to follow material design.
   https://material.google.com/style/color.html#color-color-palette
$background-blue: #37474f
$background-blue-darker: darken($background-blue, 5)
$background-blue-lighter: lighten($background-blue, 5)

$primary-600: #fdd835

$white: #fff
$text: #fff

@import _header
@import _sections
@import _helper_classes
@import _laptop


*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box


body
  margin: 0
  font-family: 'Arvo', sans-serif
  background-color: $background-blue-darker
  color: $text
