@import laptop3d

.laptops-container
  z-index: 2
  height: 0

.laptops-stretcher
  height: 300vw

  @media (orientation: portrait)
    height: 300vh


.laptop3d
  .screen
    div
      width: 100%
      height: 100%

#particles
  position: fixed
  left: 50vw
  top: 0
  width: 130vw
  height: 130vw
  transform-origin: center top
  // Alignment below is 350% of
  //        | keep centered |  perspective |        Alignment        |
  transform: translate(-50%) rotateX(80deg) translateY(-$width * 3.5)
  z-index: -1
