@import laptop3d

.laptops-container
  position: relative
  z-index: 2
  height: 150vh

.laptop3d
  .screen
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    color: $light-text-primary
    text-align: center
    padding: 2px
