$dark-1: #131313
$dark-2: #1b1b1d
$dark-3: #232327
$dark-4: #39393b
$accent: #3de589
$accent-2: #2dcf77

$background-blue: #37474f
$background-blue-darker: darken($background-blue, 5)
$background-blue-lighter: lighten($background-blue, 5)

$primary-600: #fdd835

$white: #fff
$black: #000

$gradient-a: #fc5c7d
$gradient-b: #6a82fb



// https://material.google.com/style/color.html#color-text-background-colors
$dark-text-primary: rgba(0, 0, 0, .87)
$dark-text-secondary: rgba(0, 0, 0, .54)
$dark-text-hint: rgba(0, 0, 0, .38)
$light-text-primary: rgba(255, 255, 255, 1)
$light-text-secondary: rgba(255, 255, 255, .7)
$light-text-hint: rgba(255, 255, 255, .5)
