// Main SASS file.

// Color palette
@import colors
// Fonts
@import fonts
// 3D laptops
@import navigation/laptop3d
@import navigation/laptop-carousel
// Navigation bar
@import navigation/navigation
// Social links
@import social
// Background rings
@import navigation/concentric-circles
// Browser support messages
@import browser-popup

// Styles for the home screen's content
@import home/home
// Styles for the about page's content
@import about/about
// Styles for the 'work' page's content
@import work/work


*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box

html,
body
    max-height: 100vh
    max-width: 100vw
    overflow-x: hidden

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  background: $dark-1
  width: 100vw


h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Montserrat', sans-serif
  font-weight: 600

h1,
h2
  font-size: calc(25px + 3vw)

h3,
h4
  font-size: calc(17px + 2.6vw)

h5,
h6
  font-size: calc(15px + 2.2vw)

h1,
h5
  text-transform: uppercase

code
  font-family: 'SFMono-Regular', Menlo, Courier, monospace
  padding: .2em .4em
  font-size: 85%
  background-color: transparentize($white, .8)

  &.block
    display: block
    line-height: 1.5em
    background-color: transparentize($white, .85)


a
  color: $light-text-primary
  text-decoration: none

  &:visited
    color: $light-text-primary

.nowrap
  white-space: nowrap
