$codepen: #000
$github: #000
$stack-overflow: #f69c55
$dribbble: #ea4c89


#social-container
  position: fixed
  bottom: 0
  right: 0
  color: $light-text-primary

  z-index: 1000

  list-style: none
  margin: 0
  padding: calc((15px + 1vw) / 2)
  text-align: center

  transition: opacity .4s

  &.hidden
    opacity: 0


.social
  overflow: visible
  text-align: center
  font-size: 25px

  i
    display: inline-block
    position: relative
    padding: calc(7px + .75vw)

    color: $light-text-primary
    transition: color .2s ease
    overflow: visible

    &::after
      content: ''
      display: inline-block
      background-color: $white
      // Round
      border-radius: 50%
      width: 40px
      height: 40px
      // Shouldn't take up space
      position: absolute
      top: 50%
      left: 50%

      // Make sure that the icons appear on top of their backgrounds
      z-index: -1

      transform: translate(-50%, -50%) scale(.25, .25)
      opacity: 0
      transition: transform .2s ease-out, opacity .2s ease-out

    &:hover
      &::after
        opacity: 1
        transform: translate(-50%, -50%) scale(1)


    // Specific styles for each different logo. Transforms need to be different
       for some bubbles because some icons have uneven visual weight


    &.fa-github:hover
      color: $github


    &.fa-stack-overflow:hover
      color: $stack-overflow

      // Bottom of icon has much more visual weight than top so the circle appears centered when it's farther down relative to the icon
      &::after
        transform: translateY(.05em) translate(-50%, -50%) scale(1)


    &.fa-codepen:hover
      color: $codepen

    &.fa-dribbble:hover
      color: $dribbble


// These make icon sizes a bit more uniform-looking

.fa-github
  font-size: .96666em

.fa-stack-overflow
  font-size: .76666em

.fa-codepen
  font-size: .83333em

.fa-dribbble
  font-size: .93333em


#email
  position: fixed
  bottom: calc(14.5px + 1.25vw)
  left: calc(14.5px + 1.25vw + 1em)
  height: 1.5em
  overflow: hidden
  z-index: 1000

  transform-origin: bottom left
  transform: rotate(-90deg)

  color: $light-text-primary
  // This is a REALLY hacky approach to make two single words justify to the same width. Spaces are
     placed between each letter, then are effectively removed by negative letter spacing. Since the
     spaces are still "there," text-align: justify can adjust the spaces between each character
  text-align: justify
  text-align-last: justify
  letter-spacing: -.125em

  transition: opacity .4s

  span
    display: block
    top: 0
    left: 0
    transition: transform .25s

    &::after
      content: attr(data-text)

      display: block
      font-weight: 700

  &:hover span
    transform: translateY(-1.5em)

  &.hidden
    opacity: 0
