body {
  background-color: #2d3940;
  margin: 0;
}
h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Arvo';
  font-size: 7vw;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  margin: 0;
  font-weight: 400;
}
