* {
  box-sizing: border-box;
}

body {
  background-color: #2d3940;
  margin: 0;
  color: white;
  position: fixed;
}

header {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;

  z-index: 1;

  pointer-events: none;
}

h1 {
  font-family: 'Arvo';
  font-size: 7vw;
  margin: 0;
  font-weight: 400;
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
}

h2 {
  font-family: 'Open Sans';
  font-size: 4vw;
  margin: 0;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.6);
}

#map {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;

  z-index: 0;
  cursor: default;
}
