#social-diamond
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) rotate(45deg)
  font-size: 28px
  cursor: pointer

  a
    display: block
    float: left
    $size: 60px
    width: $size
    height: $size
    margin: 7px

    background-color: transparentize($white, .85)
    transition: background-color .25s

    line-height: $size
    text-align: center
    vertical-align: middle

    &:hover
      background-color: transparentize($white, .77)

    i
      transform: rotate(-45deg) translateZ(10px)

    // Adjust for visual weight

    .fa-stack-overflow
      transform: rotate(-45deg) translate3d(0, -.1em, 10px)
