.carousel-card-wrapper
  position: absolute
  top: 0
  height: 100vh
  padding: calc(50vh - 11.25vw) calc(3.5vw + 25px)
  left: 50%
  transform: translateX(-50%)
  overflow-x: visible
  overflow-y: scroll

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb
    background: none

.carousel-card
  // 16:9
  width: 40vw
  min-height: 22.5vw
  max-height: 22.5vw
  padding: .75vw
  background: transparentize($white, .85)
  box-shadow: 0 .4vw 2vw -.2vw transparentize($black, .5)
  transform-style: preserve-3d
  transition: width .5s, max-height .5s, opacity .5s

  &.expanded-x
    width: 65vw

  &.expanded-y
    max-height: calc(50vh + 11.25vw)

  h1
    position: absolute
    z-index: 1
    transform: translateZ(25px)
    top: 1.25vw
    left: -3.5vw
    margin: 0
    padding: .2vw .7vw
    background: linear-gradient(120deg, $gradient-a -25%, $gradient-b 125%)
    box-shadow: 0 5px 30px -5px transparentize($black, .5)

    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 2.5vw
    letter-spacing: .06em
    color: transparentize($white, .15)
    text-shadow: 0 4px 10px transparentize($black, .9)

    opacity: 0
    animation-fill-mode: forwards
    animation-duration: .55s // Takes ever-so-slightly longer than carousel shift

    &::before
      content: attr(data-text)
      display: inline-block
      animation: distort 15s
      animation-timing-function: step-end
      animation-iteration-count: infinite

    &.in-initial
      animation-name: in

    &.fade-in
      animation-name: fade-in

    &.in-from-left
      animation-name: in-from-left

    &.in-from-right
      animation-name: in-from-right

    &.fade-out
      animation-name: fade-out

    &.out-to-left
      animation-name: out-to-left

    &.out-to-right
      animation-name: out-to-right

    &.out-to-top
      animation-name: out-to-top

    &.down
      animation-name: down

    &.up
      animation-name: up


  .graphic
    position: absolute
    z-index: 0
    width: calc(100% - 1.5vw)
    // height minus padding (not 100% so that image doesn't get taller if card expands)
    height: 21vw
    object-fit: cover
    opacity: .85
    transform: translateZ(5px)

  .content
    position: relative
    top: -1.25vw
    padding-top: 25.25vw
    max-height: inherit
    overflow: hidden

$translate-amount: 10vw

@keyframes in-from-left
  from
    transform: translate3d(-$translate-amount, 0, 25px)

  to
    opacity: 1

@keyframes in-from-right
  from
    transform: translate3d($translate-amount, 0, 25px)

  to
    opacity: 1

@keyframes out-to-left
  from
    opacity: 1

  to
    transform: translat3d(-$translate-amount, 0, 25px)

@keyframes out-to-right
  from
    opacity: 1

  to
    transform: translate3d($translate-amount, 0, 25px)

@keyframes out-to-top
  from
    opacity: 1

  to
    transform: translate3d(0, -100%, 25px)


// Go down to the expanded location
@keyframes down
  from
    opacity: 1

  39%
    opacity: 0
    top: 1.25vw
    left: -3.5vw
    transform: translate3d(0, 0, 25px)

  40%
    opacity: 0
    top: 21.75vw
    left: 50%
    transform: translate3d(-50%, -100%, 25px)

  to
    opacity: 1
    top: 21.75vw
    left: 50%
    transform: translate3d(-50%, -50%, 25px)


// Go back up to the default location
@keyframes up
  from
    opacity: 1
    top: 21.75vw
    left: 50%
    transform: translate3d(-50%, -50%, 25px)

  39%
    opacity: 0
    top: 21.75vw
    left: 50%
    transform: translate3d(-50%, -50%, 25px)

  40%
    opacity: 0
    top: 1.25vw
    left: -3.5vw
    transform: translate3d(0, 0, 25px)

  to
    opacity: 1

@keyframes fade-out
  from
    opacity: 1

  to
    opacity: 0

@keyframes fade-in
  from
    opacity: 0

  to
    opacity: 1

// Used on first card so that I don't have to worry about modifying styles like opacity or animation
   duration. Kind of a hack.

@keyframes in
  from
    opacity: 1

  to
    opacity: 1
