.carousel-card-wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.carousel-card
  // 16:9
  width: 40vw
  height: 22.5vw
  padding: .75vw
  background: transparentize($white, .85)
  box-shadow: 0 .4vw 2vw -.2vw transparentize($black, .5)
  transform-style: preserve-3d
  transition: width .5s

  &.expanded
    width: 65vw
    min-height: 22.5vw

    .graphic
      height: 21vw // min-height minus padding (image keeps same height)

  h1
    position: absolute
    z-index: 1
    transform: translateZ(25px)
    top: 1.25vw
    left: -3.5vw
    margin: 0
    padding: .2vw .7vw
    background: linear-gradient(120deg, $gradient-a -25%, $gradient-b 125%)
    box-shadow: 0 5px 30px -5px transparentize($black, .5)

    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 2.5vw
    letter-spacing: .06em
    color: transparentize($white, .15)
    text-shadow: 0 4px 10px transparentize($black, .9)

    opacity: 0
    animation-fill-mode: forwards
    animation-duration: .55s // Takes ever-so-slightly longer than carousel shift

  .graphic
    position: relative
    z-index: 0
    width: 100%
    height: 100%
    object-fit: cover
    opacity: .85
    transform: translateZ(5px)


$translate-amount: 10vw

@keyframes fadeInLeft
  from
    transform: translate(-$translate-amount)

  to
    opacity: 1

@keyframes fadeInRight
  from
    transform: translate($translate-amount)

  to
    opacity: 1

@keyframes fadeOutLeft
  from
    opacity: 1

  to
    transform: translate(-$translate-amount)

@keyframes fadeOutRight
  from
    opacity: 1

  to
    transform: translate($translate-amount)

// Used on first card so that I don't have to worry about modifying styles like opacity or animation
   duration. Kind of a hack.

@keyframes in
  from
    opacity: 1

  to
    opacity: 1
