<div id="tags">
  <div class="tag">JavaScript</div>
  <div class="tag" >HTML</div>
  <div class="tag">CSS</div>
  <div class="tag">Python</div>
  <div class="tag">Java</div>
  <div class="tag">PHP</div>
  <div class="tag">SASS</div>
  <div class="tag">Node.js</div>
  <div class="tag">ES6</div>
  <div class="tag">Webpack</div>
  <div class="tag">Gulp</div>
  <div class="tag">Vue</div>
  <div class="tag">Express</div>
  <div class="tag">Flask</div>
  <div class="tag">Docker</div>
  <div class="tag">Pythonista</div>
  <div class="tag">iOS</div>
  <div class="tag">Automation</div>
  <div class="tag">Back end</div>
  <div class="tag">Front end</div>
  <div class="tag">Data visualization</div>
  <div class="tag">Open source</div>
  <div class="tag">Paid work</div>
</div>

<div class="projects-container">
  <span id="carousel-empty-state">No projects found</span>



  <div class="carousel-card" id="arkisio-card" data-repo-name="arkis/arkis.io, arkis/arkis.io-backend" data-tags="JavaScript, HTML, CSS, SASS, Node.js, ES6, Webpack, Express, Back end, Front end, Open source">
    <h1 data-text="arkis.io"></h1>
    <i class="hidden-indicator material-icons">close</i>
    <div class="graphic"></div>
    <%- include('./projects/arkis.io.html'); %>
  </div>

  <div class="carousel-card" id="livejson-card" data-repo-name="controversial/livejson" data-tags="Python, Automation, Open source">
    <h1 data-text="livejson"></h1>
    <i class="hidden-indicator material-icons">close</i>
    <div class="graphic"></div>
    <%- include('./projects/livejson.html'); %>
  </div>

  <div class="carousel-card" data-repo-name="controversial/wikipedia-map" data-tags="JavaScript, HTML, CSS, Python, SASS, Node.js, ES6, Express, Flask, Automation, Back end, Front end, Data visualization, Open source">
    <h1 data-text="Wikipedia Map"></h1>
    <i class="hidden-indicator material-icons">close</i>
    <img class="graphic" src="assets/wikipedia.png"></img>
    <%- include('./projects/wikipedia-map.html'); %>
  </div>

  <div class="carousel-card" data-repo-name="controversial/maze-cv" data-tags="Python, Pythonista, iOS, Automation, Open source">
    <h1 data-text="maze-cv"></h1>
    <i class="hidden-indicator material-icons">close</i>
    <img class="graphic" src="assets/maze-cv.png"></img>
    <%- include('./projects/maze-cv.html'); %>
  </div>

  <div class="carousel-card" data-tags="JavaScript, HTML, CSS, Java, SASS, Node.js, ES6, Webpack, Vue, Express, Docker, Back end, Front end, Open source">
    <h1 data-text="Fifth card"></h1>
    <i class="hidden-indicator material-icons">close</i>
    <div class="graphic"></div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>



  <div id="carousel-dots">
    <div class="left"><i class="material-icons">chevron_left</i></div>
    <div class="right"><i class="material-icons">chevron_right</i></div>
  </div>
</div>



<div class="background"></div>
