$shadow-color: transparentize($black, .5)

@import './tag'
@import './carousel'
@import './projects/arkis.io'
@import './projects/livejson'
@import './projects/image2ascii'
@import './projects/pythonista-misc'


#work-wrapper
  height: 100vh
  width: 100vw
  position: fixed
  top: 0
  left: 0
  z-index: 2
  pointer-events: none
  will-change: contents

  *
    pointer-events: all

#work-wrapper,
.laptops-container .laptop3d[data-laptop3d-hash='work']
  color: $light-text-primary

  .background
    height: 100%
    width: 100%
    background: linear-gradient(to bottom right, $gradient-a 15%, $gradient-b 85%)

    position: fixed
    left: 0
    top: 0

    z-index: 100

    will-change: transform, top, left

#tags
  position: absolute
  z-index: 102
  width: calc(470px + 40vw)
  max-width: 80vw
  left: 50%
  top: 12.5%
  transform: translateX(-50%)
  transform-origin: top center

  display: flex
  flex-wrap: wrap
  justify-content: center

.projects-container
  position: absolute
  z-index: 101
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  overflow: hidden

#carousel-empty-state
  position: absolute
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
  color: $light-text-primary
  opacity: 0
  transition: opacity .5s

  &.displayed
    opacity: .5




#work-wrapper .content,
.laptops-container .laptop3d[data-laptop3d-hash='work'] .content
  padding-right: 3vw
  padding-left: 3vw
  font-size: calc(10px + .5vw)


  section
    display: flex
    flex-direction: row
    width: 100%
    margin-bottom: 2vw

    &:last-child
      margin-bottom: 0

  .col
    flex-grow: 1
    flex-basis: 0

    &.left
      padding-right: 1vw

    &.right
      padding-left: 1vw

  .row
    display: flex
    margin-bottom: 1em

    & > *
      flex-grow: 1
      flex-basis: 0


  p
    text-align: justify
    hyphens: auto

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  a
    text-decoration: underline
    text-decoration-color: $light-text-secondary


  ul.info
    padding: 0
    margin: 0
    list-style-type: none

    &:first-child
      padding-right: .75vw

    .fa
      transform: translateX(15%) scale(1.3)
      margin-right: .15em

    a
      text-decoration: none
      white-space: nowrap
      position: relative

      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 1px
        background: $light-text-secondary
        transform: translateY(-2px)
        transition: transform .25s

      &:hover::after
        transform: translateY(-1px)

  h3,
  h4
    margin: 0
    font-family: 'Montserrat', sans-serif
    text-transform: uppercase

  h3
    letter-spacing: .075em
    font-size: calc(10px + .5vw)

  h4
    letter-spacing: .15em
    font-size: calc(8px + .47vw)
    margin-bottom: .3em

  .tags-display
    margin-left: -.5em

  iframe,
  div.img
    width: 28.5vw
    border: 0

    &.col.left
      padding: 0
      margin-right: 1vw

    &.col.right
      padding: 0
      margin-left: 1vw

  img
    display: block
    width: 100%
    height: auto
    align-self: center // Prevent stretching inside flexbox

  div.img
    background-size: cover
    background-position: 50%, -50%

  iframe,
  img,
  div.img
    box-shadow: 0 .4vw 2.75vw -.4vw transparentize($black, .5)

  .caption
    font-size: 90%

    line-height: 1.25em
    margin-top: .75em

    &.small
      font-size: 75%

  hr
    border: 0
    border-bottom: 2px solid transparentize($white, .75)
    margin-top: 4vw
    margin-bottom: 4vw

  .col > ul
    padding-left: 1.5em
    text-align: justify
    hyphens: auto
    margin: 0

    & + p
      margin-top: .25em
