$shadow-color: transparentize($black, .5)

@import './tag'
@import './carousel'
@import './projects/arkis.io'
@import './projects/livejson'


#work-wrapper
  height: 100vh
  width: 100vw
  position: fixed
  top: 0
  left: 0
  z-index: 2
  pointer-events: none
  will-change: contents

  *
    pointer-events: all

#work-wrapper,
.laptops-container .laptop3d[data-laptop3d-hash='work']
  color: $light-text-primary

  .background
    height: 100%
    width: 100%
    background: linear-gradient(to bottom right, $gradient-a 15%, $gradient-b 85%)

    position: fixed
    left: 0
    top: 0

    z-index: 100

    will-change: transform, top, left

#tags
  position: absolute
  z-index: 102
  width: calc(300px + 20vh + 40vw)
  max-width: 80vw
  left: 50%
  top: 12.5%
  transform: translateX(-50%)
  transform-origin: top center

  display: flex
  flex-wrap: wrap
  justify-content: center

.projects-container
  position: absolute
  z-index: 101
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  overflow: hidden

#carousel-empty-state
  position: absolute
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
  color: $light-text-primary
  opacity: 0
  transition: opacity .5s

  &.displayed
    opacity: .5




.content
  padding-right: 3vw
  padding-left: 3vw


  section
    display: flex
    flex-direction: row
    width: 100%
    margin-bottom: 2vw

    &:last-child
      margin-bottom: 0

  .col
    flex-grow: 1
    flex-basis: 0

    &.left
      padding-right: 1vw

    &.right
      padding-left: 1vw

  .row
    display: flex
    margin-bottom: 1em

    & > *
      flex-grow: 1
      flex-basis: 0


  p
    text-align: justify
    hyphens: auto

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

    a
      text-decoration: underline


  ul.info
    padding: 0
    margin: 0
    list-style-type: none
    font-size: calc(10px + .5vw)

    &:first-child
      padding-right: .75vw

    h4
      margin: 0
      margin-bottom: .3em
      font-family: 'Montserrat', sans-serif
      font-size: calc(8px + .47vw)
      letter-spacing: .15em
      text-transform: uppercase

  .tags-display
    margin-left: -.5em

  iframe
    width: 28.5vw
    border: 0
    box-shadow: 0 .4vw 2.75vw -.4vw transparentize($black, .5)

    &.col.left
      padding: 0
      margin-right: 1vw

    &.col.right
      padding: 0
      margin-left: 1vw

  img
    display: block
    width: 100%
    height: auto
    box-shadow: 0 .4vw 2.75vw -.4vw transparentize($black, .5)
