$shadow-color: transparentize($black, .5)

@import './tag'


#work-wrapper
  color: $light-text-primary
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 2
  pointer-events: none
  will-change: contents

  *
    pointer-events: all

#work-wrapper,
.laptops-container .laptop3d[data-laptop3d-hash='work']
  .background
    height: 100%
    width: 100%
    background: linear-gradient(to bottom right, $gradient-4a 15%, $gradient-4b 85%)

    position: fixed
    left: 0
    top: 0

    z-index: 100

    will-change: transform, top, left
