$shadow-color: rgba(0, 0, 0, .16)

.info
  margin: 6vh 10vw

  display: flex
  flex-wrap: wrap

  .card
    flex: 1 0 auto
    text-align: center

    background-color: $white
    color: $dark-text-primary

    padding: 2vw 2vw 3.5vw
    margin: 2vw

    border-radius: 2px
    box-shadow: 10px 10px 20px 20px $shadow-color

    transition: box-shadow .25s
    box-shadow: 0 4px 10px 0 $shadow-color, 0 4px 20px 0 $shadow-color

    font-size: calc(20px + .5vw)
    line-height: calc(20px + .5vw)

    &:hover
      box-shadow: 0 16px 34px 0 $shadow-color, 0 12px 40px 0 $shadow-color

    .fa
      font-size: 8vw
      margin-bottom: 1vw
      display: block
      line-height: 8vw

    .small
      font-size: 60%
